{% extends "base.html" %}

{% block head %}
    <style>
        #center {
            margin: 10px;
            padding: 10px;
        }

    </style>
    <!-- Meta Data -->
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <meta name="description" content="Online Python Editor With Live Syntax Checking">
    <meta name="keywords" content="Lint,Online,Editor,Python,Syntax-Checking">
    <!-- Favicon -->
    <link href="{{ url_for('static',filename='css/fonts.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <!--CodeMirror -->
    <link href="{{ url_for('static',filename='codemirror/lib/codemirror.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='codemirror/lib/lint.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='codemirror/addon/dialog.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='codemirror/hint/show-hint.css') }}" rel="stylesheet" type="text/css">
    <style>
        html, body {
            height: 100%;
        }

        #info {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            max-height: 50%;
            border: 0;
            background: black;
            margin-bottom: 0;
            border-radius: 5px 5px 0 0;
            display: none;
            overflow: auto;
            z-index: 999;
        }

        #info-content {
            margin-left: 5%;
        }

        pre {
            background-color: transparent;
            color: white;
        }
    </style>



{% endblock %}

{% block body %}
    <div class="container">
        <h2>Code</h2>
        <textarea id="txt">
class Foo:
    def __init__(self):
        self.cn = "大锅大嫂过年好～"
        self.en = 'Happy New Year to Big Brother and Big Sister-in-law~'

    def makeSense(self):
        print(self.cn)
        print(self.en)

x = Foo()
x.makeSense()

#test error and warn
def foo(bar, baz):
    pass
foo(42)
        </textarea>
        <br>
        <button type="button" id="run" class="btn btn-success">
            Run
        </button>
        <br>

        <div class="alert alert-warning alert-dismissible" role="alert" id="info">
            <button type="button" class="close" id="close" style="opacity: 1;color:#fff"><span>&times;</span></button>
            <div class="container">
                <b>Result:</b>
                <pre id="info-content"></pre>
            </div>
        </div>
    </div>



{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='codemirror/codemirror.js') }}"></script>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pylint_js/cm-validator-remote.js') }}"></script>
    <!--Codemirror Addons-->
    <script src="{{ url_for('static', filename='codemirror/addon/search.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/searchcursor.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/dialog.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/lib/python.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/lib/lint.js') }}"></script>
    <!--自动补全-->
    <script src="{{ url_for('static',filename='codemirror/hint/show-hint.js') }}"></script>
    <script src="{{ url_for('static',filename='codemirror/hint/anyword-hint.js') }}"></script>
    <!--括号匹配-->
    <script src="{{ url_for('static',filename='codemirror/lib/matchbrackets.js') }}"></script>
    <!-- Socket IO -->
    {#    <script src="{{ url_for('static', filename='js/pylint_js/socketio.js') }}"></script>#}
    <!-- Require.js -->
    <script src="{{ url_for('static', filename='js/pylint_js/require.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pylint_js/javascript.js') }}"></script>

{% endblock %}

{% block footer %}

{% endblock %}